a.pi-card__head {
	display:block;
}

.pi-card {
	

}

.pi-card__head {
	@include clearfix;
}

.pi-card__head-avatar {
	width: 10%;
	float: left;
	display: block;

	img {
		width: 100%;
	}
}

.pi-card__head-btns {
	float: right;
}

.pi-card__content {
	font-size: 1.15em;
	margin-bottom: 8px;
}

/*  title */
.pi-card__sumary-t {
	font-size: 1.07em;
}

/* content text */ 
.pi-card__summary-content {

}

/* image avatar */
.pi-card__summary-avatar {

}

/* large image */
.pi-card__summary-avatar--large {

}

.pi-card__product {
	@include clearfix;
	margin-bottom: 8px;
}

.pi-card__product-img {
	float: left; width: 25%;

	img { max-width: 100%; }
}

.pi-card__product-details {
	float: rigth; width: 75%;
}

.pi-card__product-details-head {
	color: $color-gray;
	font-size: 1.07em;
}

.pi-card__product-img {
	width: 24%; 
	float: left;
}

.pi-card__player {

}

.pi-card__player-media {
	position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.pi-card__player-media iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pi-card__photo {

}

.pi-card__photo-img {
	width: 100%;
	img {
		max-width: 100%;
	}
	margin-bottom: 8px;
}

.pi-card__date {
	color: lighten($font-color, 10%);
}

.pi-card__gallery {
	
	@include container(100%);
}
.pi-card__gallery-item {
	@include span(1 of 4);

	&:nth-child(4n) {
		@include span(1 of 4 last);
	}
}

.pi-card__gallery-item-avatar {
	max-width: 100%;
}