$list-group-margin: 0 0 15px 0;
$list-group-radius: 4px;

%list-group {
  padding-left: 0px;


  > li, > .list-group__item {
    @include clearfix();
    padding: $component-padding;

    > a {
      display: block;
    }
    position: relative;
    display: block;
    margin-bottom: -1px; /* the border */
    border: solid 1px $color-gray;
    background-color: #fff;

    &:first-child {
      @include border-radius($list-group-radius);
      @include border-radius($list-group-radius);
    }

    &:hover {
      background-color: $color-gray;
      cursor: pointer;
    }
  }

  @each $item in $component-colors {
    $name: nth($item, 1);
    $color: nth($item, 2);
    $bg: nth($item, 3);
    $border: nth($item, 4);

    > .list-group__item-#{$name} {
      background-color: $bg;
      color: $color;
      a {
        color: $color;
      }
    }
  }

  > .list-group__item-active {
    background-color: $color-primary;
    color: $text-color;
    a {
      color: $text-color;
    }
    border: $color-primary;
  }

}
.list-group {
  @extend %list-group;
}
@each $item in $component-colors {
  $name: nth($item, 1);
  $color: nth($item, 2);
  $bg: nth($item, 3);
  $border: nth($item, 4);

  .list-group-#{$name} {

    @extend %list-group;

    > li, > .list-group__item {
      background-color: $bg;
      color: $color;
    }
  }
}

.list-group__item > .avatar {
  max-width: 15%;
  @include avatar-img();
  float: left;
}

.list-group__item > .button, .list-group__item > .badge {
  float: right;
}
