@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../bower_components/compass-mixins/lib/compass";
@import "boot";

$breakpoint-small: max-width 480px;
$breakpoint-medium: 480px 1100px;
$breakpoint-site: 1100px;
.layout {
	@include container;
}

@include breakpoint($breakpoint-medium) {
	.sidebar-left {
		@include span(2 of 5);
	}
	.content {
		@include span(3 of 5 last);
	}

	.cards {
		@include span(5 of 5);
	}
	.cards-list {
		@include container;

		> .pi-card {
				@include span(1 of 2);

				&:nth-child(2n) {
					@include span(1 of 2 last);
				}
			}
	}
}
@include breakpoint($breakpoint-site) {
	.sidebar-left {
		@include span(2 of 10);
	}
	.content {
		@include span(3 of 10);
	}

	.cards {
		@include span(5 of 10 last);
	}
	.cards-list {
		@include container;

		> .pi-card {
			@include span(1 of 3);

			&:nth-child(3n) {
				@include span(1 of 3 last);
			}
		}
	}
}
